.footer {
 background: #747474; 
  color: white; 
  position: relative;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  flex-wrap: wrap;
  min-height: 36px; 
  z-index: 30;
  padding-left: 98px; 
}
.footerTitle {
  margin: 0;
  font-size: 12px;
  text-align: left; 
}
