.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/images/mountain.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 60px;
}
.videoList {
  width: 100%;
  margin-top: 520px;
  padding: 62px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.videoList ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.videoItem {
  width: calc(20% - 16px);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  height: 300px;
}
.videoItem:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  transform: translateY(-5px);
}

.videoThumbnail {
  width: 100%;
  aspect-ratio: 10 / 9;
  object-fit: cover;
  background-color:#ddd;
  display: block;
}

.videoTitle {
  font-size: 16px;
  font-weight: 600;
  color: #202020;
  margin: 10px 12px 4px 12px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.videoDescription {
   font-size: 14px;
  color: #606060;
  margin: 0 12px 12px 12px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loadMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3f3f3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
  background-color: #333;
}
.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  margin-top: 400px;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top-color: #ff3366; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* 스피너 회전 애니메이션 */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

